html, body {
	display: flex;
	flex-direction: column;
  }

p{
	font-size: large;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
		background-image: url("https://github.com/jakeray/my-project/blob/main/Images/Background1.jpg?raw=true");
		background-size: 1920px 1080px;
		background-repeat:no-repeat;
		background-attachment: fixed;

	}

img {
		max-width: 100%;
		height: auto;
		border-bottom: 4px solid black;
}

.title
{
    display: block;
    border-top: 4px solid black;
	background-color: white;
    font-size: 14px;
    color: #000;
	clear:both;
	opacity: .9;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	height: 1.0rem;            /* Footer height */
}

#page-container {
	position: relative;
	min-height: 98vh;
  }
  

.body1
{
    display: block;
    font-size: 14px;
    color: #000;
	clear:both;
}

#homeBody
{
	border-top: 8px solid black;	
	background-color: white;
	flex-grow: 1;
	opacity: .9;
	margin-left: 10%;
	margin-right:10%;
	margin-top:  2%;
	text-align: center;
}

#projectsBody
{
	border-top: 8px solid black;
	margin-left: 10%;
	margin-right:10%;
	margin-top:  2%;
}


#aboutBody
{
	border-top: 8px solid black;
	margin-left: 10%;
	margin-right:10%;
	margin-top:  2%;
}

#contactBody
{
	display: block;
    border-top: 8px solid black;
	background-color: white;
    height: 41pc;
    line-height: 22px;
    padding: 4px 6px;
    font-size: 14px;
    color: #000;
	clear:both;
	opacity: .9;
	text-align: center;
	margin-top:  2%;
	margin-left: 10%;
	margin-right:10%;
}

.title .datebar {
	padding-right: 5%;
	
}

.title{
	font-weight: bolder;
}

ul.horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-bottom: 4px solid black;
  }

ul.vertical {
	font-size: large;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style-type: none;
	overflow: hidden;
}
  
li.menuItem {
	float: left;
  }

li a {
	display: block;
	color: white;
	font-weight: bolder;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

li.contact
{
	float: right;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
  }

.grid-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 200px 200px;
	opacity: .9;
	column-gap: 5px;
	row-gap:5px;
  }
  
.grid-item {
	font-size: 40pt;
	overflow: hidden; 
	word-wrap: break-word;
	padding: 30px;
	text-align: center;
  }
